# ----------------------------------------------------------------------
# Enable Rewrite
# ----------------------------------------------------------------------
RewriteEngine On

# ----------------------------------------------------------------------
# Security: block internal directories
# ----------------------------------------------------------------------
RewriteRule ^(app|config|routes|storage|tests)/ - [F,L]

# ----------------------------------------------------------------------
# Block sensitive files
# ----------------------------------------------------------------------
<FilesMatch "\.(env|log|ini|json|lock|yml|yaml)$">
  Require all denied
</FilesMatch>

# ----------------------------------------------------------------------
# Front Controller
# ----------------------------------------------------------------------
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [L]
